---
import { Icon } from "astro-icon/components";
import Productos from "./Productos.astro";
import ProductsSection from "./ProductsSection";

import { BACKENDURL } from "@/api/api";
const APIURL = `${BACKENDURL}`;
const { product } = Astro.props;
let loading = true;
let categories = [];

try {
   const response = await fetch(`${APIURL}?action=categories`);
   console.log(response);
   const data = await response.json();
   
   console.log(data);
    categories = data;
  } catch (err) {
   console.error("Error al obtener las categorías");
  }

// const handleProduct = (product) => {
//   // const modal = document.getElementById("showModal");
//   // modal.innerHTML = "";
//   // modal.innerHTML = `<ModalComponent producto=${product} />`;
//   console.log(product);
// };

//consulta todas las categorias
console.log(categories);
---

<section class="min-h-screen bg-white pt-20 mb-20">
  <div class="max-w-screen-xl mx-auto">
    <div>
      <p class="text-2xl lg:text-4xl text-center">Disfruta cada uno de</p>
      <p class="text-4xl lg:text-6xl font-bold text-center">
        nuestros productos
      </p>
    </div>
    <div
      class="flex flex-wrap justify-center lg:gap-8 text-3xl md:text-5xl lg:text-7xl"
    >
      <a
        href="/products/quesos"
        class={` flex flex-col items-center justify-center  hover:text-sky-500 transition-all duration-300 ease-in-out py-10 px-5
        ${product === "quesos" ? "text-sky-500" : "text-gray-300"}
        `}
      >
        <Icon name="Queso" />
        <span class="text-lg font-bold">Quesos</span>
      </a>
      <!-- Carnicos -->
      <a
        href="/products/carnicos"
        class={` flex flex-col items-center justify-center  hover:text-sky-500 transition-all duration-300 ease-in-out py-10 px-5
        ${product === "carnicos" ? "text-sky-500" : "text-gray-300"}
        `}
      >
        <Icon name="Carnico" />
        <span class="text-lg font-bold">Cárnicos</span>
      </a>
      <!-- Arepas -->
      <a
        href="/products/arepas"
        class={` flex flex-col items-center justify-center  hover:text-sky-500 transition-all duration-300 ease-in-out py-10 px-5
            ${product === "arepas" ? "text-sky-500" : "text-gray-300"}
            `}
      >
        <Icon name="Arepa" />
        <span class="text-lg font-bold">Arepas</span>
      </a>
      <!-- Tarrinas -->
      <a
        href="/products/tarrinas"
        class={` flex flex-col items-center justify-center  hover:text-sky-500 transition-all duration-300 ease-in-out py-10 px-5
            ${product === "tarrinas" ? "text-sky-500" : "text-gray-300"}
            `}
      >
        <Icon name="Tarrina" />
        <span class="text-lg font-bold">Tarrinas</span>
      </a>

      <!-- Dulces -->
      <a
        href="/products/dulces"
        class={` flex flex-col items-center justify-center  hover:text-sky-500 transition-all duration-300 ease-in-out py-10 px-5
            ${product === "dulces" ? "text-sky-500" : "text-gray-300"}
            `}
      >
        <Icon name="Dulce" />
        <span class="text-lg font-bold">Dulces</span>
      </a>
    </div>
  </div>
  <ProductsSection category={product} client:load />
  <div id="showModal">
    <!-- <ModalComponent producto={product} /> -->
  </div>
  <!-- <Productos category={product} /> -->
</section>
