---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ProductDescription from "./ProductDescription";
const { product } = Astro.props;
const { id: idProduct, name, description, image } = product;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2 pb-16">
  <Image
    src={image?.url}
    alt={name}
    height={600}
    width={900}
    class="h-[50vh] max-h-[60vh] w-auto object-contain"
    id="product-image"
  />
  <div class="flex flex-col gap-6">
    <h2
      class="text-4xl md:text-5xl lg:text-7xl font-bold text-blue-900"
      id="product-name"
    >
      {name}
    </h2>
    <div id="product-description">
      <ProductDescription description={description} client:load />
    </div>
    <button
      id="share"
      class="border cursor-pointer gap-2 flex items-center max-w-max rounded-full px-8 py-2 text-2xl font-bold bg-blue-900 hover:bg-sky-500 text-white transition-all duration-300 ease-in-out"
    >
      <Icon name="WhatsApp" class="text-4xl" />
      Más información
    </button>
  </div>
</div>

<script>
  const share = document.getElementById("share");
  // toma el numero telefonico de las variables de entorno

  function sendToWhatsApp() {
    const productName = document.getElementById("product-name").innerText;
    const productImage = document.getElementById("product-image");
    const productLink = window.location.href; // URL actual del producto
    const message = `*Me gustaria optener mas información*\n\n del producto: ${productName}\n${productLink}`;

    // Número de WhatsApp del receptor
    const phoneNumber = "3112105031";

    // URL para enviar el mensaje a WhatsApp
    const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;

    // Redireccionar a WhatsApp
    window.open(whatsappUrl, "_blank");
  }
  share?.addEventListener("click", () => {
    sendToWhatsApp();
  });
</script>
