---
import PostCard from "./PostCard.astro";

let allPost = await Astro.glob("../../pages/posts/**/*.md");
allPost = allPost.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<section class="bg-white flex flex-col items-center gap-8">
  <div class="text-center max-w-screen-lg autoShow">
    <h1 class="text-4xl md:text-5xl font-bold text-center">Nuestro Blog</h1>
    <p class="text-center md:text-xl px-4">
      Descubre el sabor y la autenticidad de nuestra cocina a través de nuestro
      blog, donde compartimos recetas, historias culinarias y más.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="w-full h-full flex items-center justify-center left-fadeIn">
      <PostCard
        title={allPost[0].frontmatter.title}
        topic={allPost[0].frontmatter.category}
        color="#FFC62B"
        image={allPost[0].frontmatter.image}
        linkTo={allPost[0].url}
      />
    </div>
    <div
      class="w-full h-full flex items-center justify-center smborder-x-2 autoShow"
    >
      <PostCard
        title={allPost[1].frontmatter.title}
        topic={allPost[1].frontmatter.category}
        color="#272967"
        image={allPost[1].frontmatter.image}
        linkTo={allPost[1].url}
      />
    </div>
    <div class="w-full h-full flex items-center justify-center right-fadeIn">
      <PostCard
        title={allPost[2].frontmatter.title}
        topic={allPost[2].frontmatter.category}
        color="#C00018"
        image={allPost[2].frontmatter.image}
        linkTo={allPost[2].url}
      />
    </div>
  </div>
</section>
