---
import slide1 from "../../assets/images/home/carrusel/slide1.jpg";
import slideMin1 from "../../assets/images/home/carrusel/minslide1.png";
import { Image } from "astro:assets";
import bgWave from "../../assets/images/home/carrusel/curve.svg";
import { Icon } from "astro-icon/components";
---

<div class="h-screen w-full relative">
  <div class="bg-blue-400 w-full h-screen carrusel">
    <div
      class="atras absolute z-50 flex items-center left-5 md:left-20 h-screen"
    >
      <button
        id="atras"
        class="flex items-center justify-center bg-white rounded-full h-10 w-10 shadow-md"
      >
        <span class="font-bold transform scale-125">
          <Icon name="LeftArrow" />
        </span>
      </button>
    </div>
    <div class="imagenes">
      <div id="img" class="w-full h-full">
        <Image
          src={slide1}
          alt="Talavera store"
          class="img hidden lg:block"
          loading="lazy"
        />
        <Image
          src={slideMin1}
          alt="Talavera store"
          class="img lg:hidden"
          loading="lazy"
        />
      </div>
    </div>

    <div
      class="adelante absolute top-0 right-5 md:right-20 z-50 flex items-center h-screen"
      id="adelante"
    >
      <button
        id="adelante"
        class="flex items-center justify-center bg-white rounded-full h-10 w-10 shadow-md"
      >
        <span class="font-bold transform scale-125">
          <Icon name="RightArrow" />
        </span>
      </button>
    </div>
  </div>

  <!-- onda en la parte inferior  -->
  <div class="absolute w-full bottom-0">
    <Image src={bgWave} alt="Wave" class="w-full object-cover -mb-1" />
  </div>
</div>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  .carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagenes {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<script>
  let image1 = "/images/home/carrusel/slide1.jpg";
  let image2 = "/images/home/carrusel/slide2.jpg";
  let image3 = "/images/home/carrusel/slide3.jpg";
  let image4 = "/images/home/carrusel/slide4.jpg";
  let minslide1 = "/images/home/carrusel/minslide1.png";
  let minslide2 = "/images/home/carrusel/minslide2.png";
  let minslide3 = "/images/home/carrusel/minslide3.png";
  let minslide4 = "/images/home/carrusel/minslide4.png";

  let imagenes = [
    {
      url: image1,
      urlMin: minslide1,
      nombre: "Arepas",
      descripcion:
        "Arepas de maíz pelado rellenas de carne mechada, pollo, pernil, queso, chicharrón, entre otros.",
    },
    {
      url: image2,
      urlMin: minslide2,
      nombre: "Quesos",
      descripcion:
        "Quesos frescos, semiduros, duros, madurados, ahumados, entre otros.",
    },
    {
      url: image3,
      urlMin: minslide3,
      nombre: "Carnicos",
      descripcion:
        "Carnes de res, cerdo, pollo, pescado, embutidos, entre otros.",
    },
    {
      url: image4,
      urlMin: minslide4,
      nombre: "Dulces",
      descripcion: "Dulces típicos, tortas, galletas, panes, entre otros.",
    },
  ];

  let atras = document.getElementById("atras");
  let adelante = document.getElementById("adelante");
  let imagen = document.getElementById("img");
  let actual = 0;

  atras.addEventListener("click", () => {
    console.log("atras", imagenes);
    actual--;
    if (actual < 0) {
      actual = imagenes.length - 1;
    }
    imagen.innerHTML = `
     <Image src="${imagenes[actual].url}" alt="Talavera store" class="img h-full w-full object-cover hidden lg:block" loading="lazy" />
      <Image src="${imagenes[actual].urlMin}" alt="Talavera store" class="img h-full w-full object-cover lg:hidden " loading="lazy" />
    `;
  });

  adelante.addEventListener("click", () => {
    actual++;
    if (actual > imagenes.length - 1) {
      actual = 0;
    }

    console.log("adelante", actual, imagenes[actual].url);
    if (actual > imagenes.length - 1) {
      actual = 0;
    }
    imagen.innerHTML = `
      <Image src="${imagenes[actual].url}" alt="Talavera store" class="img h-full w-full object-cover hidden lg:block" loading="lazy" />
      <Image src="${imagenes[actual].urlMin}" alt="Talavera store" class="img h-full w-full object-cover lg:hidden " loading="lazy" />
    `;
    //animar la entrada de la imagen
    imagen.style.animation = "fadeIn 1s";
    imagen.style.animationTimingFunction = "ease-in-out";
    imagen.style.animationFillMode = "forwards";
  });

  setInterval(() => {
    adelante.click();
  }, 4000);
</script>
